<div id="note_partial">
  <%= "<h4>#{note.track.title}</h4>".html_safe if user_show %>
  <p><%= note.body %></p>
  <p><strong><%= link_to note.user.username, user_url(note.user) %></strong> <%= note.created_at %></p>
  <% if current_user == note.user %>
    <%= button_to "Delete Note", note_url(note), method: :delete %>
  <% end %>
  <hr>
</div>