<form action="<%= new_sub ? subs_url : sub_url(sub) %>" method="post" accept-charset="utf-8">
  <%= form_auth_html %>
  <%= update_method_html unless new_sub %>

  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td><label for="name">Name</label></td>
      <td><input type="text" name="sub[name]" value="<%= sub.name %>" id="name"></td>
    </tr>
  </table>

  <p><label for="description">Description</label></p>
  <textarea name="sub[description]" rows="8" cols="40" id="description"><%= sub.description %></textarea>

  <p><input type="submit" value="<%= new_sub ? "Create New Sub" : "Update Sub" %>"></p>
</form>