<form action="<%= new_circle ? user_friend_circles_url(user) : user_friend_circle_url(user, circle) %>" method="post" accept-charset="utf-8">
  <%= form_auth_html %>
  <%= patch_input_html unless new_circle %>

  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td><label for="friend_circle_title">Friend Circle Title</label></td>
      <td><input type="text" name="friend_circle[title]" value="<%= circle.title %>" id="friend_circle_title"></td>
    </tr>
  </table>

  <h3>Add Circle Members</h3>
    <table border="0" cellspacing="5" cellpadding="5">
      <input type="hidden" name="friend_circle[member_ids][]" value="">
      <% User.all.each do |user| %>
      <tr>
        <td>
          <label for="<%= "select_friends_#{user.id}" %>"><%= user.email %></label>
        </td>
        <td>
          <input
            type="checkbox"
            name="friend_circle[member_ids][]"
            value="<%= user.id %>"
            id="<%= "select_friends_#{user.id}" %>"
            <%= "checked=1".html_safe if circle.member_ids.include?(user.id) %>>
        </td>
      </tr>

      <% end %>
    </table>

  <p><input type="submit" value="<%= new_circle ? "Create New Friend Circle" : "Update Friend Circle" %>"></p>
</form>