<h2>Welcome, <%= @user.name.capitalize %>!</h2>
<p>I hope you like the site!</p>
<p>To log in, just follow this link: <a href="<%= @login_url %>"><%= @login_url[7..-1] %></a></p>
<p>Best,</p>
<p>--Maggie</p>
<p><a href="<%= @url %>"><%= @url[7..-1] %></a></p>